<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers</title>
    <link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="worker.css">
</head>
<body>
    <header></header>
    <div class="electrician">
        <h1>Electricians in Potheri</h1>
        <div class="container">

            <div class="container-item e1">
                <div class="pic">
                    <img src="7.png" alt="">
                </div>
                <div class="e-1 name">

                    <h2>Steve</h2>
                </div>
                <div class="e-1 d2">

                    <h2>Price : 20 $</h2>
                </div>
                <div class="e-1 d4">
                    
                    <h2>Rating</h2>
                    <div class="rating">
                        <img src="r1.png" alt="">
                    </div>
                    <div class="e-1 d3">
    
                        <h2>Reviews</h2>
                        <div class="r1">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam natus culpa doloribus, perspiciatis error quisquam, deleniti labore autem voluptatum alias at dolorum impedit. Inventore quasi, accusantium maxime asperiores dicta saepe.
                        </div>
                    </div>
                </div>
                <div class="e-1 d5">

                    <button class="btn">Contact-Us</button>
                </div>

               

            </div>
            <div class="container-item e2">
                <div class="pic">
                    <img src="7.png" alt="">
                </div>
                <div class="e-1 name">

                    <h2>Ryan</h2>
                </div>
                <div class="e-1 d2">

                    <h2>Price : 12 $</h2>
                </div>
                <div class="e-1 d4">
                    
                    <h2>Rating</h2>
                    <div class="rating">
                        <img src="r2.png" alt="">
                    </div>
                </div>
                <div class="e-1 d3">

                    <h2>Reviews</h2>
                    <div class="r1">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam natus culpa doloribus, perspiciatis error quisquam, deleniti labore autem voluptatum alias at dolorum impedit. Inventore quasi, accusantium maxime asperiores dicta saepe.
                    </div>
                </div>
                <div class="e-1 d5">

                    <button class="btn">Contact-Us</button>
                </div>

            </div>
            <div class="container-item e3">
                <div class="pic">
                    <img src="7.png" alt="">
                </div>
                <div class="e-1 name">

                    <h2>David</h2>
                </div>
                <div class="e-1 d2">

                    <h2>Price : 15 $</h2>
                </div>
                <div class="e-1 d4">
                    
                    <h2>Rating</h2>
                    <div class="rating">
                        <img src="r3.png" alt="">
                    </div>
                </div>
                <div class="e-1 d3">

                    <h2>Reviews</h2>
                    <div class="r1">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam natus culpa doloribus, perspiciatis error quisquam, deleniti labore autem voluptatum alias at dolorum impedit. Inventore quasi, accusantium maxime asperiores dicta saepe.
                    </div>
                </div>
                <div class="e-1 d5">

                    <button class="btn">Contact-Us</button>
                </div>

            </div>
        </div>

    </div>
        
    
</body>
</html>